@import "../../assets/styles/vars";

.most-popular {

  &__title {
    font-size: 35px;
    font-weight: bold;
    color: $text-secondary;
    margin-bottom: 30px;
  }

  &__posts {
    padding: 0 30px;
  }
}