@import "../../assets/styles/vars";

.post {
  margin-bottom: 30px;

  &__title {
    font-size: 30px;
    color: $text-primary;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 5px;
    text-decoration:none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__date {
    margin-bottom: 15px;
    color: $text-secondary;
  }

  &__preview {
    margin-bottom: 5px;
    line-height: 160%;
    max-height: 100px;
    color: $text-secondary;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__read-more {
    color: $red;
    cursor: pointer;
    font-weight: bold;
    text-decoration:none;

    &:hover {
      text-decoration: underline;
    }
  }
}